
.card{
    background-color: #F7F1E6;
}

a:link{
    text-decoration: none;
}

header a{
    font-family: Playfair Display, sans-serif;
    color: white;

}

header button{
    background: none;
    border: 0px;
}

header h1{
    font-size: 40px;
}

header div:last-child img{
    width: 40px;
}

header{
    background: url(../img/Carrossel.png);
    height: 100vh;
    color: white;
}

main section:first-child img:first-child{
    width: 40%;
    padding: 20px;
}



main section ul li{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

main section ul li img{
    width: 40px;
}


.title-aside{
   color:#A0996C;
}




h1,h2{
    font-family: Playfair Display, sans-serif;
}
h3{
    font-size: 15px;
}
p,li,h3,td{
    font-family: Open Sans;
}
li{
    list-style-type: none;
}

aside div{
    width:30%;
    margin: 10px;
}

aside div b{
    font-size: 30px;
}
aside div p{
    font-size: 20px;
    display: inline-block;}

aside button{
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: Open sans;
    letter-spacing: 0.5px;
    font-weight: bold;
    background: #000;
    color: white;
}


.cat{
    width:300px;
    height:300px;
    padding: 20px;
    color: white;
    background-image: url('../img/graos-cafe.png');
    background-size: cover;
    font-size: 15px;
    margin: 10px;

}

.cat h3{
    font-family: Playfair Display, sans-serif;
    font-size: 30px;
}

.acs h3{
  font-family: Playfair Display, sans-serif;
  font-size: 30px;

}

.acs{
    width:300px;
    height:300px;
    padding: 20px;
    margin: 10px;
    color: white;
    background-image: url('../img/cafeteira.png');
    background-size: cover;
}

main aside:last-child input{
    padding: 7px;
    border:1.5px solid black;
    margin: 10px;
}

main aside:last-child img{
    width:100%;
    height: 400px;
}

footer{
    background-color: #F7F1E6;
}

footer h3{
    font-family: Playfair Display;
}

footer h3, ul{
    display: inline-block;
}

footer ul:last-child li:first-child{
    display: block;
}

footer ul:last-child li{
    display:inline-block;
}

